/* practice css branch */

/* global code */

body {
    font-family: sans-serif, Verdana, Arial, Helvetica;
    margin: auto;
    max-width: 100%;
}

.logo {
    max-width: 200px;
}

.member-info {
    font-size: 14px;
    padding:1px;
    color: white;
    background-color: black;
    text-align: center;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background-color: rgba(126, 194, 216, 0.34);
}

header nav a {
    color: black;
    display: inline-block;
    padding: 0px 20px;
    margin: 0px 30px;
    font-size: 18px;
    text-decoration: none;
}

.search {
    position: relative;
}

.search-field {
    padding: 15px 20px 0px 20px;
    border: none;
}

.search-only {
    position: absolute;
    color: gray;
    left: 5px;
    top: 6px;
}

.onpage {
    font-weight: bold;
}

.header-icons {
    padding-right: 50px;
}

.review-homepage {
    font-size: 18px;
    text-align: center;
    padding: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.34);
}

.review-button {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 5px 50px;
    border: 1px solid black;
}

.fa-star {
    color: rgb(240, 224, 10);
}

.bottom-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
    gap: 180px;
    background-color: rgba(126, 194, 216, 0.34);
}

.bottom-section-1 li, .bottom-section-2 li {
    margin: 5px;
    list-style-type: none;
    color: black;
}

.social-media-icons {
    background-color:rgba(126, 194, 216, 0.34);
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
    gap: 30px;
}

.fa-facebook, .fa-instagram {
    font-size: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    font-size: 12px;
    background: black;
    color: white; 
} 

/* index page */

.shop {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    flex-wrap: wrap;
    flex: 1;
}

.shop-container {
    position: relative;
    margin-top: 30px;
}

.shop-men-image, .shop-women-image, .shop-all-image  {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 70% 0;
}

.shop-women-image{
    object-position: 20% 0;
}

.shop-all-image {
    min-width: 550px;
    object-position: 60% 90%;
}

.shop-men-button, .shop-women-button, .shop-all-button {
    position: absolute;
    color: black;
    font-size: 14px solid;
    padding: 8px 100px;
    background-color: white;
    text-decoration: none;
    bottom: 30px;
    left: 60px;
}

.shop-men-button {
    padding: 8px 110px;
}
.shop-all-button {
    padding: 8px 60px;
}

.shop-all-text {
    font-size: 16px;
    position: absolute;
    text-align: center;
    bottom: 80px;
    left: 50px;
}

.best-sellers-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(126, 194, 216, 0.34);
    padding: 12px;
}

.best-sellers {
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
}

.best-sellers-jackets {
    flex: 1 0 300px;
}

.best-sellers-jackets-container {
    max-width: 250px;
}

.index-everest, .index-biker, .index-runner-light, .index-racer {
    max-width: 250px;
}

.newsletter {
    position: relative;
    display: flex;
    background-image: url(/img/man_in_brown_jacket.jpeg);
    background-repeat: no-repeat;
    min-height: 400px;
    max-width: 900px;
    background-size: 100%;
    margin: 30px auto;
}

.newsletter-text {
    display: flex;
    font-family: poppin;
    font-size: 26px;
    position: absolute;
    text-align: center;
    left: 150px;
    top: 100px;
}

.shopping {
    background-color: rgba(48, 169, 60, 0.2);
    text-decoration: none;
}

/* product page*/

.all-jackets {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 40px;
}

.all-jackets-container {
    max-width: 400px;
    margin: 30px;
}

.everest, .everyday, .runner, .biker, .runner_light, .racer {
    width: 350px;
    height: 400px;
    object-fit: cover;
}


/* product spesific page*/

.main-container {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    gap: 30px;
}

.main-container-jacket, .main-container-info {
    flex: 1;
}

.main-container-jacket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-cart-button, .continue-shopping-button {
    color: black;
    background-color: rgba(214, 238, 216, 1);
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border-radius: 5%;
    border: none;
    padding: 8px 140px;
    margin-top: 20px;
}

/* cart page */

.cart-container {
    display: flex;
    height: 700px;
    width: 1200px;
    background-color:rgba(245, 245, 245, 1);
    padding: 20px;
    margin: 50px auto;
}

.cart-container-1, .cart-container-2 {
    padding: 20px;
    margin: 10px auto;
    background-color: white;
}

.button {
    color: white;
    background-color: rgba(48, 169, 60, 1);
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: none;
}

.cart-pay-button {
    padding: 8px 160px;
}


/* delivery page */

.delivery-container {
    display: grid;
    background-color: rgba(245, 245, 245, 1);
    border: none;
    margin: 50px;
}

.radiobutton {
    border: 1px solid black;
    background-color: white;
    margin: 20px;
}

.pay-next-button {
    padding: 10px 165px;
    margin-left: 20px;
}

/* payment page */

.payment-alternatives {
    border: none;
    margin-left: 40px;
}

.payment-header {
    font-size: 20px;
    margin: 20px;
}

.payment-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-card-info, .payment-info {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    width: 400px;
    margin: 20px;
}

.payment-info {
    padding: 20px;
    text-align: center;
}

.pay-button {
    padding: 8px 60px;
}

/* checkout page*/

.checkout-success {
    text-align: center;
}

.checkout-success-header {
    margin: 60px;
}

.order-details {
    border: 2px solid grey;
    margin: 20px 600px;
}

/* contact page */

.contact-header {
    margin: 50px 0px 0px 120px;
}

.contact-content {
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    margin-bottom: 40px;
}

.contact-form {
    width: 400px;
    height: 350px;
    display: grid;
    background-color: rgba(245, 245, 245, 1);
    padding: 20px;
    margin-right: 20px;
}

main form label {
    display: block;
    margin: 10px;
}

.send-message-button {
    background-color: rgba(246, 177, 44, 1);
    border: none;
    border-radius: 100px;
    padding: 5px 50px;
    margin: 10px;
}

.contact-email {
    text-align: center;
}

.woman-mountain {
    width: 750px;
    height: 500px;
    object-fit: cover;
    object-position: 100% 40%;
}

/* about us page*/

.camping {
    max-width: 200px;
}

.about {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.about-image, .about-text {
   flex: 1;
}

.about-image {
    max-width: 50%;
    padding: 20px;
}
.about-text {
    font-size: 18px;
}



/* desktop styles */

@media(min-width:769px) {
    
}

/* tablet styles */

@media(max-width:1216px) {

    body {
            width: 90%;
      }
    
    .all-jackets {
        grid-template-columns: 1fr,1fr;
    }
    
}

/* mobile styles */

@media(max-width:480px) {

    .all-jackets {
        grid-template-columns: 1fr;
    }

    .about-image {
        display: none;
    }

    .woman-mountain {
        display: none;
    }
    
    .delivery-container {
        grid-template-columns: 1fr;
    }
}

